*       @ethereum-optimism/docs-reviewers

# Giving Marine privileges to review RPC providers, account abstraction, oracles, alt-da, and block explorers
/pages/app-developers/tools/connect/rpc-providers.mdx @ethereum-optimism/docs-reviewers @0xmariniere
/pages/app-developers/tools/build/block-explorers.mdx @ethereum-optimism/docs-reviewers @0xmariniere
/pages/app-developers/tools/build/oracles.mdx @ethereum-optimism/docs-reviewers @0xmariniere
/pages/app-developers/chain-operators/features/alt-da-mode.mdx @ethereum-optimism/docs-reviewers @0xmariniere
/pages/app-developers/tools/build/account-abstraction.mdx @ethereum-optimism/docs-reviewers @0xmariniere
