*       @ethereum-optimism/docs-reviewers

# Giving Node Squad review privileges to the following sections
/pages/builders/chain-operators/    @ethereum-optimism/node-squad
/pages/chain/                       @ethereum-optimism/node-squad
/pages/stack/                       @ethereum-optimism/node-squad

# Giving Marine privileges to review RPC providers and block explorers
/pages/builders/tools/connect/rpc-providers.mdx @0xmariniere
/pages/builders/tools/build/block-explorers.mdx @0xmariniere

# Giving Binji privileges to review NFT tools
/pages/builders/tools/build/nft-tools.mdx @binjix23