/* Fee Parameter Calculator */
@import url('colors.css');

/**** Chain Inputs Form Styles ****/

button.calculator-button {
    padding: 17px 17px;
    background: var(--op-red-500);
    color: var(--op-neutral-0);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.calculator-heading_sub {
    font-size: 23px;
    margin-bottom: 40px;
    text-align: center;
}

.calculator-label_description {
    font-size: 11px;
    margin-bottom: 3px;
    color: var(--op-neutral-400)
}

.calculator-label {
    display: flex;
    margin-bottom: 5px;
}

.calculator-select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../public/img/icons/caret-down.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

.calculator-select,
.calculator-input {
    margin-bottom: 20px;
}

select.calculator-select :hover,
select.calculator-select :focus {
    border-color: #a9a9a9;
    outline: none;
}

.calculator-form {
    margin-top: 40px;
    margin-bottom: 30px;
    border: 1px solid #efefef;
    padding: 35px 30px;
    border-radius: 10px;
}

.calculator-input {
    border: 1px solid #dedede;
    width: 100%;
    border-radius: 10px;
    padding: 8px 12px;
}

/**** Construction Info Styles ****/

.construction-info {
    margin-bottom: 50px;
}

.construction-info p {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 0 40px;
    color: var(--op-neutral-500)
}

.construction-info p span {
    font-weight: 700;
}

/**** Results & Table Styles ****/

.results-extra-info, .additional-info p:first-of-type {
    margin-bottom: 7px;
}

.results-table-wrap div.calculator-text p {
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: var(--op-neutral-700)
}

.calculator-results-wrap table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

.calculator-results-wrap th,
.calculator-results-wrap td {
    border: 1px solid var(--op-red-200);
    padding: 8px;
    text-align: left;   
}

.calculator-results-wrap thead .sub-header {
    background-color: var(--op-red-600) !important;
    color: var(--op-neutral-0);
}

.calculator-results-wrap tbody tr td, 
.calculator-results-wrap thead tr:nth-of-type(2) th {
    text-align: center;
}

.calculator-results-wrap tbody tr td:first-of-type, 
.calculator-results-wrap thead tr:nth-of-type(2) th:first-of-type {
    text-align: right;
}

div.calculator-results-wrap .results-container .results-table-wrap tbody {
    font-size: 14px;
    color: var(--op-red-600);
    font-weight: 700;
}

.calculator-results-wrap thead th[colspan="2"] {
    text-align: right;
}

div.calculator-results-wrap 
.results-container 
.results-table-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
div.calculator-results-wrap 
.results-container 
.results-table-wrap 
table.results-table.table {
    border: 1px solid #efefef;
    padding: 30px;
    border-radius: 10px;
}

div.calculator-results-wrap 
.results-container 
.results-recommendations 
.calculator-info {
    padding: 20px 15px;
    background: var(--op-blue-200);
    color: var(--op-blue-500);
    border-radius: 20px;
    margin: 30px 0px;
}

div.calculator-results-wrap 
.results-container 
.results-recommendations 
.calculator-info.calculator-text a {
    text-decoration: underline;
    font-style: italic;
}

.results-recommendations {
    margin-bottom: 40px;
}

div.calculator-results-wrap 
.results-container 
h3.calculator-heading_text {
    font-weight: 100;
    color: var(--op-neutral-500);
}

div.calculator-results-wrap 
.results-container .calculator-text {
    font-size: 14px;
    color: var(--op-neutral-500);
}

div.calculator-results-wrap .results-container{
    border: 1px solid #efefef;
    border-radius: 10px;
    padding: 40px 30px 50px;
}

.loader-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.loader-container svg {
    width: 40px;
}
