/* Colors */
:root {

    /* Neutral */
    --op-neutral-0: #FFFFFF;
    --op-neutral-100: #F1F4F9;
    --op-neutral-200: #E2E8F0;
    --op-neutral-300: #CBD5E0;
    --op-neutral-400: #A9B9CC;
    --op-neutral-500: #8496AE;
    --op-neutral-600: #68778D;
    --op-neutral-700: #4A5568;
    --op-neutral-800: #323A43;
    --op-neutral-900: #202327;
    
    --op-neutral-0-dark: #141618;
    --op-neutral-100-dark: #1C2024;
    --op-neutral-200-dark: #232B32;
    --op-neutral-300-dark: #2C3742;
    --op-neutral-400-dark: #39424C;
    --op-neutral-500-dark: #4E5A6E;
    --op-neutral-600-dark: #718096;
    --op-neutral-700-dark: #A0AEC0;
    --op-neutral-800-dark: #CBD5E0;
    --op-neutral-900-dark: #FFFFFF;
    
    /* Primary */
    --op-primary-100: #FFF0F1;
    --op-primary-200: #FFDBDF;
    --op-primary-500: #FF2941;
    --op-primary-600: #FF0420;
    --op-primary-700: #EB001A;
    
    --op-primary-100-dark: #3B0209;
    --op-primary-200-dark: #4A030B;
    --op-primary-500-dark: #FF2941;
    --op-primary-600-dark: #EB0822;
    --op-primary-700-dark: #F71C35;
    
    /* Secondary */
    --op-secondary-100: #EDF4FC;
    --op-secondary-200: #D7E6F9;
    --op-secondary-400: #B7E0F1;
    --op-secondary-600: #2173DF;
    --op-secondary-700: #1C65C4;

    /* Success */
    --op-success-100: #EEF6EE;
    --op-success-200: #DEEDDE;
    --op-success-600: #5BA85A;
    --op-success-800: #3F753E;

    /* Error */
    --op-error-100: #FDF6F2;
    --op-error-200: #FAEAE0;
    --op-error-600: #DD6B20;
    --op-error-700: #C45F1C;

    /* Highlight */
    --op-highlight-600: #F3CF00;

    /* Base */
    --op-body-color: #F1F4F9;
    --op-body-color-hovered: #E2E8F0;
    --op-body-color-active: #CBD5E0;

    /* Card */
    --op-card-color: #FFFFFF;
    --op-card-color-hovered: #F1F4F9;
    --op-card-color-active: #E2E8F0;

    --op-card-color-dark: #1C2024;
    --op-card-color-hovered-dark: #232B32;
    --op-card-color-active-dark: #2C3742;

    --op-card-shadow: 0px 4px 16px -1px rgba(20, 23, 26, 0.08), 0px 0px 8px -4px rgba(20, 23, 26, 0.12);
    --op-card-shadow-hovered: 0px 12px 42px -4px rgba(20, 23, 26, 0.12), 0px 8px 18px -6px rgba(20, 23, 26, 0.12);

    --op-card-shadow-dark: 0px 4px 16px -1px rgba(0, 0, 0, 0.08), 0px 0px 8px -4px rgba(0, 0, 0, 0.12);
    --op-card-shadow-hovered-dark: 0px 12px 42px -4px rgba(0, 0, 0, 0.08), 0px 8px 18px -6px rgba(0, 0, 0, 0.08);

    /* Inner-Card */
    --op-inner-card-color: #F1F4F9;
    --op-inner-card-color-dark: #232B32;

    /* Divider */
    --op-divider-color: #CBD5E0;
    --op-divider-color-dark: #39424C;

    --op-divider-color-hovered: #A9B9CC;
    --op-divider-color-hovered-dark: #4E5A6E;

    --op-divider-soft-color: #E2E8F0;
    --op-divider-soft-color-dark: #2C3742;

    --op-divider-soft-color-hovered: #CBD5E0;
    --op-divider-soft-color-hovered-dark: #39424C;

    /* Focus-Visible */
    --op-focus-visible-color: rgba(33, 115, 223, 0.7);

    /* Skeleton */
    --op-skeleton-color: rgba(203, 213, 224, 0.3);
    --op-skeleton-color-dark: rgba(57, 66, 76, 0.3);

    /* Text */
    --op-text-description-color: #4A5568;
    --op-text-description-color-dark: #A0AEC0;

    --op-text-default: #202327;
    --op-text-default-dark: #FFFFFF;

    --op-text-secondary: #4A5568;
    --op-text-secondary-dark: #A0AEC0;

    --op-text-muted: #8496AE;
    --op-text-muted-dark: #4E5A6E;

    --op-text-disabled: #A9B9CC;
    --op-text-disabled-dark: #39424C;

    --op-text-accent: #2173DF;

    --op-text-success: #5BA85A;

    --op-text-error: #DD6B20;

    /* Background */
    --op-bg-default: #FFFFFF;
    --op-bg-default-dark: #141618;

    --op-bg-secondary: #F1F4F9;
    --op-bg-secondary-dark: #1C2024;

    --op-bg-tertiary: #E2E8F0;
    --op-bg-tertiary-dark: #232B32;

    --op-bg-accent: #EDF4FC;
    --op-bg-accent-dark: #081B35;

    --op-bg-accent-hovered: #D7E6F9;
    --op-bg-accent-hovered-dark: #0A2547;

    --op-bg-success: #EEF6EE;
    --op-bg-success-dark: #122112;

    --op-bg-success-hovered: #DEEDDE;
    --op-bg-success-hovered-dark: #172B17;

    --op-bg-error: #FDF6F2;
    --op-bg-error-dark: #351A08;

    --op-bg-error-hovered: #FAEAE0;
    --op-bg-error-hovered-dark: #43200A;

    /* Border */
    --op-border-default: #CBD5E0;
    --op-border-default-dark: #2C3742;

    --op-border-default-hovered: #A9B9CC;
    --op-border-default-hovered-dark: #39424C;

    --op-border-soft: #E2E8F0;
    --op-border-soft-dark: #232B32;

    --op-border-soft-hovered: #CBD5E0;
    --op-border-soft-hovered-dark: #2C3742;

    --op-border-accent: #2173DF;

    --op-border-success: #5BA85A;

    --op-border-error: #DD6B20;
}


