@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400..700&display=swap');
@import url("colors.css");


:root {
    --color-op-red: #FF0420;

    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* example usage of a css variable
body {
    background: var(--example-op-red);
}
*/

/* Overwrite Nextra Styles */
.nextra-content {
    color: --op-neutral-900;
}


/* Default Typographic Styles */
body {
    font-size: 16px;
    color: --op-neutral-900;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.2em;
    color: --op-neutral-900;
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.2em;
    color: --op-neutral-900;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.1em;
    color: --op-neutral-900;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    color: --op-neutral-900;
}

h5 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    color: --op-neutral-900;
}

p { 
    font-size: 1rem;
    font-weight: 440;
    line-height: 1.5;
    color: --op-neutral-900;
}

ol {}

ul {}

blockquote {
    font-style: italic;
    letter-spacing: -1px;
    padding-left: 48px; 
}

/* Need to fix !important declaration */
code, kbd, samp, pre {
    font-family: "JetBrains Mono" !important;
    font-weight: 420;
    background:  --op-neutral-100;
    border:  --op-neutral-200;
}






/* Full typography system as utility classes */

/* Text styles */

.text-700 {

}

.text-600 {
    
}

.text-500 {
    
}

.text-400 {
    
}

.text-300 {
    
}

.text-200 {
    
}

.text-100 {
    
}

/* Display styles */

.display-900 {}

.display-800 {}

.display-700 {}

.display-600 {}

.display-500 {}

.display-400 {}

.display-300 {}


/* Mono styles */

.mono-500 {
    font-size: 16px;
}

.mono-400 {
    font-size: 14px;
}

.mono-300 {
    font-size: 12px;
}